.title[b-5t3fhlf0r1] {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
    text-align: center;
}
.form[b-5t3fhlf0r1] {
    max-width: 600px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 16px;
    column-gap: 12px;
    align-items:center;
    align-content:center;
}
.center-block-button[b-5t3fhlf0r1] {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    /* Căn giữa tự động */
    margin: 0 auto;
}
.row[b-5t3fhlf0r1] {
    display: contents;
    align-items:center;
}

label[b-5t3fhlf0r1] {
    font-weight: 600;
}

input[b-5t3fhlf0r1] {
    padding: 6px 8px;
}