.me-auto {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.page {
    min-height: 100vh;
    background: #123e67;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link .me-auto {
    color: white;
}
.home-link,
.home-link:visited,
.home-link:hover,
.home-link:active,
.home-link.active {
    color: white !important;
    text-decoration: none !important;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}
.user-icon {
    text-align: center;
    font-size: 60px;
}
.user-icon img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}
.login-box {
    width: 700px;
    height: 500px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}

