@inherits LayoutComponentBase

<div class="page">
    <div class="me-auto fw-bold">
        <NavLink href="/" class="home-link" Match="NavLinkMatch.All">
            <a class="home-link active" href="/">Home</a>
        </NavLink>
    </div>
    <div class="login-box">
        <div class="user-icon">
            <img src="/user-icon.png" alt="user-icon"/>
        </div>
        @Body
    </div>
</div>