.me-auto[b-raz5ou31td] {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.page[b-raz5ou31td] {
    min-height: 100vh;
    background: #123e67;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link .me-auto[b-raz5ou31td] {
    color: white;
}
.home-link[b-raz5ou31td],
.home-link:visited[b-raz5ou31td],
.home-link:hover[b-raz5ou31td],
.home-link:active[b-raz5ou31td],
.home-link.active[b-raz5ou31td] {
    color: white !important;
    text-decoration: none !important;
}
a[b-raz5ou31td] {
    color: var(--bs-link-color);
    text-decoration: underline;
}
.user-icon[b-raz5ou31td] {
    text-align: center;
    font-size: 60px;
}
.user-icon img[b-raz5ou31td] {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}
.login-box[b-raz5ou31td] {
    width: 700px;
    height: 500px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}

